
@{
    ViewBag.Title = "index";
}



<div class="row">
    <h2>Report</h2>


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select file
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn btn-secondary">Left</div>
            <div type="button" class="btn btn-secondary">Middle</div>
            <div type="button" class="btn btn-secondary">Right</div>
        </div>
    </div>

</div>

<div class="row">



</div>

